<% if Helpers.is_logged_in?(@session) %>
  <div class="books">
    <h2>~ Your Books ~</h2>
    <a href="/books/new"><h3>Add a New Book</h3></a>
    <% @user.books.each do |book| %>
      <div class="book">
        <h3><%= book.title %></h3>
        <p>
          by <%= book.author.name %><br>
          <%= book.genre.name %><br>
          Status:
          <% if book.on_loan_to == ""; %>
            <%= '<span style="color:green">Available</span>' %>
          <% else %>
            <%= "On Loan to #{book.on_loan_to}" %>
          <% end %>
        </p>
        <a href="/books/<%=book.id%>/edit">edit</a>
        <a href="/books/<%=book.id%>">view</a>
      </div>
    <% end %>
  </div>

<% else %>
  <a href="/">Home</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
<% end %>
