<% if Helpers.is_logged_in?(@session) %>
  <div class="welcome">
    <h2>Welcome, <%= @user.username %>!</h2>
  </div>

  <div class="books">
    <h3>~ Your Books ~</h3>
    <% @user.books.each do |book| %>
      <h3><%= book.title %></h3>
      <p>
        Author:<%= book.author.name %><br>
        Genre:<%= book.genre.name %><br>
        Status:
        <% if book.on_loaned_to == ""; %>
          <%= "Available" %>
        <% else %>
          <%= "On Loan to #{book.on_loaned_to}" %>
        <% end %>
      </p>
      <a href="/books/:id">look at this book</a>
    <% end %>
  </div>

  <div class="logout">
    <a href="/logout">Log Out</a>
  </div>


<% else %>
  <a href="/">Home</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
<% end %>
