<% if Helpers.is_logged_in?(@session) %>
  <div class="books">
    <h2><span style="color:yellow">Do you really want to delete <%= @book.title %>?</span></h2>
    <p>
      Author: <%= @book.author.name %><br>
      Genre: <%= @book.genre.name %><br>
      Status:
      <% if @book.on_loan_to == ""; %>
        <%= '<span style="color:green">Available</span>' %>
      <% else %>
        <%= '<span style="color:green">'"On Loan to #{book.on_loan_to}"'</span>' %>
      <% end %>
    </p>

    <form class="" action="/books/<%=@book.id%>/delete" method="post">
      <input type="submit" name="delete" value="Delete">
      <input type="submit" formaction="/books/<%=@book.id%>" formmethod="get" name="cancel" value="Cancel">
    </form>

  </div>

  <div class="view_all_books">
    <a href="/books">View All Books</a>
  </div>
<% else %>
  <a href="/">Home</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
<% end %>
