<% if Helpers.is_logged_in?(@session) %>
  <div class="books">
    <h3><%= @book.title %></h3>
    <p>
      Author: <%= @book.author.name %><br>
      Genre: <%= @book.genre.name %><br>
      Status:
      <% if @book.on_loan_to == ""; %>
        <%= '<span style="color:green">Available</span>' %>
        <br><a href="/books/<%=@book.id%>/lend">LEND</a>
      <% else %>
        <%= '<span style="color:yellow">'"On Loan to #{@book.on_loan_to}"'</span>' %>
        <br><a href="/books/<%=@book.id%>/return_book">RETURN</a>
      <% end %>
    </p>

    <form class="" action="/books/<%=@book.id%>/edit" method="get">
      <input type="submit" name="edit" value="Edit">
      <input type="submit" formaction="/books/<%=@book.id%>/delete" name="delete" value="Delete">
    </form>

  </div>

  <div class="view_all_books">
    <a href="/books">View All Books</a>
  </div>
<% else %>
  <a href="/">Home</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
<% end %>
